@import 'tailwindcss';

@theme {
  --color-primary: #2563eb;
  --color-primary-dark: #1d4ed8;
  --color-danger: #dc2626;
  --color-warning: #f59e0b;
  --color-success: #16a34a;
  --color-muted: #6b7280;
  --color-nhs-blue: #005eb8;
}
